{
  "name":  "{{projectName}}",
  "version": "{{appVersion}}",
  "description": "{{{appDescription}}}",
  "main": "app.ts",
 "scripts": {
        "start:dev": "nodemon",
        "prepare": "husky install",
        "lint": "yarn eslint ./src --ext .ts",
        "lint:fix": "yarn lint -- --fix",
        "copy-files": "copyfiles -u 1 'src/**/static/**/*.*' dist/",
        "clean": "rm -rf dist",
        "build": "tsc -p . && tsc-alias -p tsconfig.json && yarn copy-files"
  },
  "keywords": [
    "openapi-generator",
    "openapi"
  ],
  "license": "Unlicense",
  "private": true,
  "dependencies": {
    "@casl/ability": "^6.7.0",
    "@fastify/cors": "^8.5.0",
    "@fastify/formbody": "^7.4.0",
    "@fastify/secure-session": "^7.1.0",
    "@fastify/swagger": "^8.14.0",
    "@fastify/swagger-ui": "^2.1.0",
    "@sinclair/typebox": "^0.32.15",
    "dotenv": "^16.0.3",
    "fastify": "^4.14.1",
    "http": "^0.0.1-security",
    "http-errors": "^2.0.0",
    "ioredis": "^5.3.2",
    "jsonwebtoken": "^9.0.2",
    "mysql2": "^3.1.2",
    "node-cron": "^3.0.2",
    "typeorm": "^0.3.19",
    "uuid": "^9.0.1",
    "validator": "^13.12.0",
    "winston": "^3.8.2"
  },
  "devDependencies": {
    "@types/http-errors": "^2.0.1",
    "@types/jsonwebtoken": "^9.0.5",
    "@types/mustache": "^4.2.5",
    "@types/node": "^20.10.0",
    "@types/node-cron": "^3.0.8",
    "@types/pg": "^8.11.0",
    "@types/request": "^2.48.12",
    "@types/uuid": "^9.0.8",
    "@types/validator": "^13.11.10",
    "@typescript-eslint/eslint-plugin": "^6.13.1",
    "@typescript-eslint/parser": "^6.13.1",
    "@youre/project-settings": "^1.2.6",
    "copyfiles": "^2.4.1",
    "eslint": "^8.54.0",
    "eslint-config-prettier": "^9.0.0",
    "eslint-plugin-prettier": "^5.0.1",
    "eslint-plugin-progress": "^0.0.1",
    "eslint-plugin-sort-imports-es6-autofix": "^0.6.0",
    "husky": "^8.0.3",
    "nodemon": "^2.0.20",
    "prettier": "^3.1.0",
    "stylelint": "^15.11.0",
    "stylelint-config-standard-scss": "^13.0.0",
    "stylelint-order": "^6.0.4",
    "ts-node": "^10.9.1",
    "tsc-alias": "^1.8.6",
    "tsconfig-paths": "^4.1.2",
    "typescript": "~5.2.2"
  }
}
